main
{
    font-family: "Lato", sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap:15px;
    grid-auto-flow: row;
    margin: auto 20px;
}
h2, h3
{
    margin:0;
}
p
{
    min-height: 60px;
}
#client-1, #client-2
{
    border:2px solid black;
    border-radius: 25px;
    min-height:200px;
    padding: 10px;
}
img:not(.top-view, .not-selected)
{
    width:70px
}
.client-detail
{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: center;
    gap:10px;
}
.client-detail img
{
    grid-row: span 2;
}
section
{
    margin-top: 25px;
}
#client-3
{
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 15px;
}
#client-3 div
{
    background-color: black;
    color: white;
    padding:10px 25px 20px 25px;
    border-radius: 20px;
}
#client-3 div>h3
{
    color: grey;
}
#star-rating
{
    margin:20px 0px 5px 0px;
    max-width: 20px;
}
#select-cards
{
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 10px 70px;
}
.not-selected
{
    width: 10%;
    padding:0px 20px;
    opacity: 30%;
}
@media (min-width: 800px)
{
    .not-selected
    {
        width: 4%;
    }
    .client-detail
    {
        grid-template-columns: 0.25fr 2fr;
    }    
}
